<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>การติดต่อ</title>
</head>

<body>
    {% include 'base/tab_login.html' %}
    {% include 'base/site_header.html' %}
        <h1 class="res_name">โน้ตอาหารตามสั่ง</h1>
        <h1 class="name1">ที่อยู่: บ้าน 000 ตำบลวารินชำราบ อำเภอวารินชำราบ จังหวัด อุบลราชธานี</h1>
        <h1 class="name2">Email : chatchai.so.64@ubu.ac.th</h1>
        <h1 class="name3">เบอร์โทรศัพท์ : 000-000-0000</h1>
</body>
</html>