{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>contag</title>
  <link rel="stylesheet" href="{% static 'css/pay.css' %}">
</head>

<body>
    {% include 'base/tab_login.html' %}
    {% include 'base/site_header.html' %}
  <div class="container">
    <div class="contact-info">
        <img src="https://th.bing.com/th/id/OIP.rdCAao4EKVgkFjc_UgvMrAHaHa?w=201&h=201&c=7&r=0&o=5&pid=1.7" alt="รูปภาพ">
      <p><strong>บัญชีธนาคาร:</strong> <span class="line-id">000-000-0000</span></p>
      <p><strong>หมายเหตุ:</strong> <span class="context">ราคาสินค้าท่านจะได้รับประมาณ10.00-11.30 โมง ของทุกวัน </span></p>

    </div>
  </div>

</body>

</html>
