<link rel="stylesheet" href="https://cdn.tailwindcss.com">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <div id="navbar">
            <a href="{% url 'home' %}"><i class="fa fa-fw fa-home"></i>หน้าแรก</a>
            <a href="{% url 'managefood' %}">สินค้า</a>
            <a href="{% url 'me' %}">ช่องทางการติดต่อ</a>
            <a href="#">วิธีการชำระเงิน</a>
        </div>
    </header>
</body>
</html>
